@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center; /* centraliza verticalmente */
  justify-content: center; /* centraliza horizontalmente */
  background-color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
  min-height: 100vh;
  margin: 0;

  /* MENU LATERAL */
  .menu {
    width: 70px;
    height: 100%; /* ocupa toda altura */
    background-color: #11228d;
    padding: 20px;
    color: #fff;
    overflow: hidden;
    transition: width 0.75s ease;
    flex-shrink: 0; /* não encolhe */

    &:hover {
      width: 200px;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      li {
        padding: 10px 10px;
        border-radius: 5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #3889f3;
        }
      }
    }
  }

  .nav-link {
    display: inline-flex;
    column-gap: 1rem;
    color: inherit;
    text-decoration: none;
  }

  .item-txt {
    padding-left: 0.5rem;
  }

  .infocontato {
    height: 380px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background: #11228d;
  }

  /* CONTEÚDO */
  .conteudo {
    margin-top: 20px; /* mais próximo do topo */
    width: 700px;
    padding: 40px;
    background-color: #ffffff;
    color: #111;
    position: relative;
    border-radius: 0;
    overflow: visible;
    z-index: 1;
    max-width: 90%; /* para ajustar bem em telas menores */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical */
    align-items: center; /* horizontal */
    min-height: calc(100vh - 40px);
    text-align: center; /* opcional: centraliza textos dentro do form */

    h4 {
      color: rgb(142, 0, 0);
    }

    ul {
      align-items: center;
    }

    li {
      text-align: left;
    }
  }
}
